body { background: #5095a2; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 29px; display: flex; }
.block-config-0 { color: #4b19be; font-size: 18px; margin-bottom: 5px; }
.block-search-1 { color: #b73687; font-size: 21px; margin-bottom: 5px; }
.block-search-2 { color: #491aa; font-size: 15px; margin-bottom: 5px; }
.block-payment-3 { color: #60d73f; font-size: 15px; margin-bottom: 5px; }
.block-helper-4 { color: #476ae8; font-size: 16px; margin-bottom: 5px; }
.block-uploader-5 { color: #9ac2f1; font-size: 17px; margin-bottom: 5px; }